@charset "UTF-8";
body {
  margin: 0;
  padding: 10px;
  line-height: 1.5;
  font-family: inherit;
  color: #002c6b;
}
body hr {
  border: none;
  height: 0.5px;
  background-color: rgba(85, 85, 85, 0.3333333333);
}
body .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
body .member .list-member {
  width: 100%;
}
body .member .list-member hr {
  border: none;
  height: 0.5px;
  background-color: rgba(85, 85, 85, 0.3333333333);
}
body .member .list-member .form-search {
  position: relative;
}
body .member .list-member .form-search input.key-search {
  padding: 3px;
  border-radius: 5px;
  border: 1px solid rgba(85, 85, 85, 0.3333333333);
  width: 100%;
}
body .member .list-member .form-search .btn-search {
  background: none;
  border: none;
  color: rgba(85, 85, 85, 0.3333333333);
  position: absolute;
  top: 5px;
  left: 0;
}
body .member .list-member .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
body .member .list-member .list .info-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
body .member .list-member .list .info-member .image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
body .member .list-member .list .info-member .infomation .fullname {
  font-weight: bold;
}
body .member .list-member .list .info-member .infomation .position {
  font-size: 14px;
}
body .member .list-member .list .select {
  align-content: center;
}
body .member .member-recognize {
  width: 100%;
}
body .member .member-recognize .member-selected {
  text-align: center;
}
body .member .member-recognize .member-selected .image-member-selected img {
  width: 250px;
}
body .member .member-recognize .member-selected .infomation-member-selected .fullname {
  font-weight: bold;
}
body .member .member-recognize .member-selected .infomation-member-selected .position {
  font-size: 15px;
}
body .badge {
  /* CSS cho trạng thái checked */
}
body .badge .list-badge {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
body .badge .badgeid {
  border: 1px solid rgba(85, 85, 85, 0.3333333333);
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  color: #333;
}
body .badge .badgeid .image-badge img {
  width: 70px;
}
body .badge input[type=radio]:checked ~ .badge-id {
  background-color: #60aded;
  border-color: #2196f3;
  color: #000;
}
body .content-recognize {
  padding-right: 5px;
}
body .content-recognize .content {
  width: 100%;
  height: 70px;
}
body .button-recognize {
  text-align: right;
}
body .button-recognize .cancel {
  background: rgba(85, 85, 85, 0.3333333333);
  border: none;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
}
body .button-recognize .recognize {
  background: rgba(85, 85, 85, 0.3333333333);
  border: none;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  background: #002c6b;
  color: #fff;
}

/* Responsive cho màn hình 992px */
@media (max-width: 992px) {
  body .badge .list-badge {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Responsive cho màn hình 768px */
@media (max-width: 768px) {
  body .member {
    display: block;
  }
  body .badge .list-badge {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Responsive cho màn hình 480px */
@media (max-width: 576px) {
  body .badge .list-badge {
    grid-template-columns: repeat(1, 1fr);
  }
}
