body {
    margin: 0;
    padding: 10px;
    line-height: 1.5;
    color: #002c6b;
    justify-items: center;
    width: 100%;

    .info-badge {
        display: flex;
        gap: 10px;

        .img-member img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .info-status-badge {
            .time-recognize span {
                color: #555;
            }
        }
    }

    .img-recognize {

        position: relative;

        .img-bg img {
            width: 100%;
        }

        .congrats-badge {
            display: grid;
            justify-items: center;
            position: absolute;
            bottom: -115px;
            width: 100%;

            .img-badge {
                position: relative;
                width: 160px;
                /* tăng kích thước để có thể chứa viền trắng */
                height: 125px;
                /* tăng kích thước để có thể chứa viền trắng */
                background-color: #55555555;
                /* Màu viền */
                clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
                padding: 10px;
                /* Độ dày viền */
                margin-bottom: 10px;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
                    background-color: white;
                }
            }
            .text-congrats{
                text-align: center;
            }
        }



    }
}